<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
     <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
       type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
       requirePermission="false"/>
     </configSections>
  <connectionStrings>
    <add name="ScadaDB" providerName="System.Data.SqlClient"
      connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=ScadaDb;Integrated Security=True;Trusted_Connection=True"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>  
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="updateInterval" value="10000"/>
    <add key="Source" value="2"/>
    <add key="Destination" value="1"/>
    <add key="AcquisitionInterval" value="1000"/>
    <add key ="HistoryInterval" value="30"/>
    <add key ="Analog_Scale" value="1"/>
    <add key ="Analog_Deviation" value="0"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <!-- Network Model Service-->
      <endpoint address="net.tcp://localhost:10000/NetworkModelService/GDA/" behaviorConfiguration="NMSClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="FTN.ServiceContracts.INetworkModelGDAContract" name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NMSClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>