<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!-- General -->
      <add key="interval" value="1000" />
      <add key="address" value="127.0.0.1" />
      <add key="port" value="20000" />
      <add key="C1_AI" value="5" />
      <add key="C1_AO" value="5" />
      <add key="C1_BI" value="5" />
      <add key="C1_BO" value="5" />
    
    </appSettings>
</configuration>